header, footer{
    /* background-color: #03045e; */
    background-color: #023e8a;
    color: #ffffff;
}

footer{
    margin-top: 2%;
}

body{
    background-color: #caf0f8;
}


/* Cambiar el fondo y el color de las letras de la barra de navegación */
.navbar {
    background-color: #023e8a;
    color: white;
}
.navbar-brand{
    color: #ffffff;
}
.navbar-brand:hover{
    color: #ffffff;
}

/* Cambiar el color de las letras de los elementos del menú principal */
.navbar-nav .nav-link{
    color: white;
}

/* Cambiar el color de fondo y las letras del menú desplegable */
.dropdown-menu {
    background-color: #023e8a;
    color: white;
}

/* Cambiar el color de las letras de los elementos del menú desplegable */
.dropdown-item {
    color: white;
}

/* Cambiar el color de fondo y las letras del botón de menú desplegable */
.dropdown-toggle::after {
    background-color: #023e8a;
    color: white; 
}

/* Cambiar el color de fondo y las letras de los elementos en el menú desplegable de usuario */
.dropdown-menu#userDropdown {
    background-color: #023e8a;
    color: white; 
}
/* ESTILOS PARA EL MODAL */
/* Estilos para el fondo oscuro cuando el modal está abierto */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilos generales para el contenido del modal */
.modal-content {
    border: 2px solid #007bff; /* Borde azul */
    border-radius: 8px;
}

/* Estilos para el título del modal */
.modal-title {
    font-size: 24px;
    color: #007bff; /* Texto azul */
}

/* Estilos para el botón de cierre (X) del modal */
.modal-header .btn-close {
    color: #007bff; /* Color azul */
    font-size: 24px;
}

/* Estilos para el cuerpo del modal */
.modal-body {
    font-size: 18px;
}
#botones-modal{
    display: flex;
    justify-content: center;
    margin: 2% 0;
}
/* Estilos para el botón "Aceptar" */
.btn-modal {
    background-color: #007bff; /* Fondo azul */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

/* Cambiar el color del botón "Aceptar" cuando se pasa el ratón por encima */
.btn-modal:hover {
    background-color: #0056b3; /* Cambiar a un tono más oscuro de azul */
}


